html, body{
  background-color: #aed3f7;
  text-align: center;
  width: 100%;
}

 .content{
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #ffc5c5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1088px;
}
@media screen and (max-width: 767px) {
  .content {
    width: 300px;
    justify-content: center;
  }
 }
 @media (min-width: 768px) and (max-width: 992px) {
  .content {width: 544px;}
 }
@media (min-width: 993px) and (max-width: 1200px) {
  .content {width: 816px;}
 }

.item{
  width: 250px;
  height: 300px;
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
  color: #4f0183;
  border: 1px solid #000000;
  margin: 10px;
  padding: 0;
  background-color: #f5f5f5;
}
.item_pic{
  width: 100px;
  height: 100px;
  align-self: center;
  margin: 10px;
  padding: 5px;
}
.item_pic:hover{
  width: 120px;
  height: 120px;
  margin: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.name{
  color: #7556ff;
}
.catrgory{
  font: 2em #a37474 normal;
}
.quality{
  text-align: left;
}
.price{
  color: #008000;
}
.description{
  text-align: justify;
  color: #534a53;
}